<p>navegation works!</p>
<nav class="navegation">

    <a routerLink="/raiz" class="opcao">Raiz</a>
    <a routerLink="/contatus" class="opcao">Contatos</a>
    <a routerLink="/cep" class="opcao">CEP</a>
    <a routerLink="/form" class="opcao">Formulário</a>
    <a routerLink="/mes" class="opcao">Mês</a>
    <a routerLink="/data" class="opcao">Datas</a>
    <a routerLink="/lista" class="opcao">Lista</a>
    <a routerLink="botoes" class="opcao">Botões</a>
    <a routerLink="/" class="opcao">Reset</a>
    <router-outlet class="routershow"></router-outlet>

  </nav>
<app-footer></app-footer>