.navegation{
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align-last: center;
  }

  
a.opcao{
    background-color: #1976d2;
    color: white !important;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    width: auto;
    padding: 10px;
    margin: 10px;
  }
  
  a.opcao:hover{
    background-color: rgb(99, 184, 156);
  }